if [[ ! -f "${PWD}/.envrc.secrets" ]]; then
  echo "'.envrc.secrets' is required to use Terraform"
else
  source "${PWD}/.envrc.secrets"
fi

export PROJECT_CODENAME=swissguards

export GCLOUD_BILLING_ACCOUNT_ID="01530E-CAAE8B-4307BB"
export TF_VAR_billing_account="${GCLOUD_BILLING_ACCOUNT_ID}"
# Org: andromedarabbit.net
export GCLOUD_ORGANIZATION_ID="284011733050"
export TF_VAR_org_id="${GCLOUD_ORGANIZATION_ID}"

export TERRAFORM_PROJECT_ID="unchartedsky-terraform-admin"
export TF_VAR_terraform_project="${TERRAFORM_PROJECT_ID}"
# export GCLOUD_PROJECT_ID="unchartedsky-swissguards"
# export TF_VAR_project="${GCLOUD_PROJECT_ID}"
export TF_VAR_project_prefix="swissguards"

export TF_ADMIN=unchartedsky-terraform-admin
export TF_VAR_bucket="${TF_ADMIN}"

export TF_CREDS=~/.config/gcloud/terraform-admin.json
export GOOGLE_APPLICATION_CREDENTIALS=${TF_CREDS}

export TF_REGION=asia-northeast1
export TF_VAR_region="${TF_REGION}"


if ! [ -x "$(command -v toilet)" ]; then
  brew install toilet
fi

REPRESENTATIVE_NAME="${PROJECT_CODENAME}"
if [[ "${REPRESENTATIVE_NAME}" == "" ]]; then
  REPRESENTATIVE_NAME="$(basename "${PWD}")"
fi

toilet -f smblock -F gay "${REPRESENTATIVE_NAME}"